# dirs
build
__pycache__
.terraform/providers/*

# extensions
*.pyc
*.tfstate
*.tfstate.backup
*.tfstate.* 

# files
.env
.DS_Store
terraform.tfvars.json



# personal
QR31.py
study.py
*.lock
*.lock.hcl
main.py
auth.sh
